<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <%= form_for @user do |f| %>
      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control", :placeholder => "Username" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control", :placeholder => "Valid email address." %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
      </fieldset>
      <%= f.submit :class => "btn btn-primary submit-button" %>
      <small class="text-muted">Please ensure all fields have been completed</small>
    <% end %>
  </div>
</div>
