<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="row" id="header">
      <div class="col-md-3 col-md-offset-1">
        <%= image_tag "snoo.png", class: "img-responsive", id: "snoo"%>
        <h3 class="text-align-left" id="logo"><%= link_to "Reddit on Rails", root_path %></h3>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <h5 id="new_link"><%= link_to "Create Post", new_link_path %></h5>
        <h5 id="new_user"><%= link_to "New User", new_user_path %></h5>
        <h5 id="new_subreddit"><%= link_to "New Subreddit", new_subreddit_path %></h5>
      </div>
    </header>
    <main>
      <div class="row">
        <% if flash.any? %>
          <% flash.each do |key, message| %>
            <div class="alert alert-<%= key %>">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-8">

          <%= yield %>

        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class = "form-control">
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:f, "Search for:") %>
              <%= text_field_tag(:f) %>
              <%= submit_tag("Search") %>
            <% end %>
          </div>
          <br>
          <% if current_user %>
            <h4><%= "Welcome #{current_user.name}" %></h4>
            <%= button_to "Logout", logout_path, method: :delete %>
          <% else %>
             <div>
              <%= form_tag("/login", method: "post") do %>
                <fieldset class="form-group">
                  <%= label_tag(:name, "Username:") %>
                  <%= text_field_tag(:name) %>
                </fieldset>
                <fieldset class="form-group">
                  <%= label_tag(:password, "Password :") %>
                  <%= password_field_tag(:password) %>
                  <%= submit_tag("Login") %>
                <fieldset>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
